<br>
<h1 class="text-center">New Game</h1>
<br>
<div class="d-flex justify-content-center">
  <ul>
    <% @letters.each do |letter| %>
    <li><%=letter.capitalize%></li>
    <% end %>
  </ul>
  <br>
</div>
<p class="text-center">What is the longest word you can find ?</p>
<div>
  <form action="/score" method="post" class="form d-flex justify-content-center align-item-center">
    <input type="text" name="answer" id="form" class="form-control">
    <input type="submit" value="Play" id="button" class="btn btn-primary ms-3">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
</div>
